/*Bootsrap-sass config*/
@import "customVariables";
@import "../js/vendor/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../js/vendor/bootstrap-sass/assets/stylesheets/bootstrap-compass";
@import "custom";
@import "susy";

/*Vars and Mixins*/

@mixin borderStyle($borderSize, $borderStyle , $borderColor ){
  border-width: $borderSize;
  border-style: $borderStyle;
  border-color: $borderColor;
}


/*Base styles*/
body{
  background: linear-gradient(#ffffff, #e5e5e5);
  height:100vh;
}
.row{
  margin: 0;
}

/*Wrapper of the app*/
.wrapper{
  width: 80%;
  height: 80%;
  margin: 0 auto;

  /*Header*/
  header{
    min-height: 10%;

    div{
      display: inline-block;
      vertical-align: bottom;
      float: none;
      width: 49%;

      nav{
        text-align: right;
      }
    }
  }

  /*Section styles to APP*/
  section{
    max-height: 85%;
    //overflow: auto;

    /*For active section*/
    .section{
      display: none;

      &.active{
        display: block;
      }
    }

    /*Fisrt part, Profile*/
    .profileContent{
      .user-profile{
        margin: 0 auto;
        width: 400px;

        div{
          display: inline-block;
        }
      }
      .info-profile div{
        display: block;
        margin-left: 15px;
      }
      .actions{
        margin-top: 15px;
        text-align: center;
      }
    }


    .part{
      height: 75vh;
      overflow: auto;
      /*Second part: States*/
      &.states.active{
        @include span(12 of 12 at 1);

        .state-info{
          display: block;
        }
        .state img{
          width: 120px;
          height: 120px;
          opacity: 1;
        }
      }

      &.universities{
        display: none;
      }

      /*Third part: Universities*/
      &.states{
        @include span(3 of 12 at 1);
        margin-right: 0;

        .state-info{
          display:none;
        }
        .state{
          border: none;
          border-bottom: 1px solid #c4c4c4;
          padding-bottom: 8px;

          img{
            opacity: 0.4;
            margin-left: 16px;
          }
        }
        .state.active img{
          width: 140px;
          height: 140px;
          opacity: 1;
          margin-left: 0;
        }

      }
      &.universities.active{
        @include span(9 of 12 at 4);
        margin-top: 10px;
        margin-right: 0;
        display: block;
        overflow: auto;
        padding: 5px 10px;

        .university{
          border-bottom: 1px solid #c4c4c4;
          padding-bottom: 8px
        }
      }
    }

    .state {
      //@include span(8 of 12 at 3);
      @include borderStyle(1px, solid, #202020);
      overflow: hidden;
      padding: 5px;
      border-radius: 8px;
      text-align: center;
    }
    .state-profile{
      @include span(3 of 12 at 1);

      img{
        border-radius: 70px;
        width: 100px;
        height: 100px;
        opacity: 1;
      }
    }
    .state-info{
      @include span(9 of 12 at 4);

      .results {
        @include span(6 of 12 at 1);
        margin-right: 0;
      }
    }

  }

  footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
  }

}

