<div class="state">
    <div class="state-profile">
        <div class="stateImg">
            <img src="http://lorempixel.com/140/140/city/" alt="">
        </div>
    </div>
    <div class="state-info">
        <div class="name">
            <h3>State X</h3>
        </div>
        <div class="results tid">tid</div>
        <div class="results count">Count X of Universities</div>
    </div>
</div>
