<div id="" class="university">
    <div class="name">
        <h3>University X</h3>
    </div>
    <div class="university-info">
        <div class="type">public/private</div>
        <div class="location">
            <a class="comoLlegar" href="https://maps.google.com?&daddr=<%= latitude %>+<%= longitude %>" target="_blank">See in map</a>
        </div>
    </div>
</div>